$color-basic-white: #FFFFFF;
$color-bg-dark: #232323;
$color-gray-light: #858484;
$color-gray-dark: #4F4F4F;
$color-font-gray: #8D8D8D;


$hover-start: 1025px;
$tablet: 768px;
$mobile: 480px;