$color-basic-neutral: #8E8E8E;
$color-basic-black: #000000;
$color-basic-dark: #0C0C0E;
$color-basic-white: #FFFFFF;
$color-basic-primary: #BB945F;

$desktop: 1440px;
$desktop-additional: 1240px;
$hover-start: 1025px;
$laptop: 1024px;
$tablet: 768px;
$tablet-additional: 600px;
$mobile: 480px;

@keyframes burger-close {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes burger-open {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}