.footer {
    width: 100%;
    height: 5vh;
    min-height: 40px;
    background: rgba(8, 8, 8, 0.4);
}

.footer__wrapper {
    height: 100%;
    @extend %container;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        padding: 10px 10px;
    }
}

.footer__icon_rs {
    width: 55px;
    height: 21px;
    background: center center no-repeat url("../img/icons/rs_school.svg");
    @extend %transition;
    @include media-hover-start {
        .footer__link_rs:hover & {
            opacity: 0.4;
        }
    }
}