.footer {
    width: 100%;
    height: 5vh;
    min-height: 40px;
    background: rgba(8, 8, 8, 0.4);
}

.footer__wrapper {
    height: 100%;
    @extend %container;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        padding: 10px 10px;
    }
}


.footer__link_rs {
    @include media-tablet {
        width: 50%;
        text-align: center;
    }
}