.main {
    max-height: 90vh;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-height: 675px) {
        max-height: 95vh;
        height: calc(100vh - 60px);
    }
}