:root {
    --body-gray: #8E8E8E;
    --basic-black: #000000;
    --basic-dark: #0C0C0E;
    --basic-white: #FFFFFF;
    --basic-orange: #BB945F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-gray);

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    color: var(--basic-black)
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.general {
    padding: 20px 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--basic-white);
}

.section-title {
    position: relative;

    margin: 0;
    margin-bottom: 61px;

    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--basic-dark);
}

.section-title::after {
    content: '';
    position: absolute;
    left: calc(50% - 25px);

    top: 60px;

    width: 50px;
    height: 1px;

    background: #0C0C0E;
}

.section-text {
    margin: 0;
    margin-bottom: 20px;
}

/* HEADER */

.header {
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: #0C0C0E;

    color: var(--basic-white);
}

.header-title {
    margin: 0;
    padding: 0;

    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.6px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-list {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 30px;

    list-style: none;
}

.nav-link {
    display: block;

    color: inherit;
    line-height: 1.67;
    text-decoration: none;

    cursor: pointer;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    text-shadow: 0 0 10px var(--basic-white);
    transform: scale(1.1);
}
.nav-link:active {
    text-decoration: underline;
}

.header-login {
    display: block;

    font-size: 0;
}

/* WELCOME */
.welcome {
    position: relative;

    display: flex;

    background-color: var(--basic-black);
    background-image: url("../images/Welcome.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.welcome-overlay {
    position: absolute;
    width: 100%;
    height: 300px;

    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    height: 220px;
    margin: 220px 0px 160px;
    padding: 35px 40px;

    background: var(--basic-dark);
}

.welcome-title {
    margin: 0;

    font-family: Forum;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--basic-white)
}

/* ABOUT */
.about-slider {
    margin-bottom: 40px;

    display: flex;
    gap: 25px;

    font-size: 0;
}

.about-img {
    width: 450px;
    height: 560px;

    background-color: var(--basic-white);
}

.pagination {
    display: flex;
}

.pgn-button {
    display: block;
    margin: 0 5px;
    padding: 0;
    width: 16px;
    height: 16px;

    background-color: var(--basic-dark);
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition-duration: 0.3s;
}

.pgn-active {
    background-color: var(--basic-orange);
}

.pgn-button:hover,
.pgn-button:focus {
    box-shadow: 0px 0px 5px 2px rgba(18, 18, 21, 0.50);
}

/* FAVORITES */

.filter-text {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;

    align-self: flex-start;

    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.favorites-filters {
    align-self: flex-start;

    margin-bottom: 35px;
}

.filters {
    padding: 0;
    margin: 0;
    border: none;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    column-gap: 85px;
}

.filter-item {
    position: relative;

    height: fit-content;
    margin-left: 32px;

    font-size: inherit;
}

.filter-label {
    display: block;
    padding: 5px;
    padding-right: 10px;

    font-size: 20px;
    line-height: normal;

    cursor: pointer;
    transition-duration: 0.5s;
}

.filter {
    cursor: pointer;
    transition-duration: 0.5s;
}

.filter-label::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -35px;

    width: 23px;
    height: 23px;
    padding: 5px;

    outline: 2px solid var(--basic-black);
    outline-offset: -5px;
    border-radius: 50%;
}

.filter:checked + .filter-label::after {
    content: "";
    position: absolute;
    left: -27px;
    top: 15px;

    width: 7px;
    height: 7px;
    background-color: var(--basic-black);
    border-radius: 50%;
}

.filter:checked + .filter-label {
    font-weight: 700;
}

.filter:hover + .filter-label {
    text-shadow: 0 0 5px rgba(18, 18, 21, 0.50);
}

.books-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    column-gap: 260px;
    row-gap: 40px;
}

.book-item {
    position: relative;

    width: calc((100% - 300px)/2);
    height: 555px;
    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;

    border: 1px solid var(--basic-black);
}

.book-category {
    position: relative;

    margin: 0;
    margin-bottom: 20px;

    font-family: Forum;
    font-size: 20px;
    text-transform: capitalize;
}

.book-category::before {
    content: "";
    position: absolute;
    top: 38px;

    width: 60px;
    height: 1px;

    background-color: var(--basic-orange);
}

.book-title,
.book-author {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 700;
}

.book-title {
    margin: 0;
    text-transform: uppercase;
}

.book-description {
    max-width: 355px;
    margin: 0;

    font-family: Inter;
    text-transform: capitalize;
}

.book-img {
    position: absolute;
    bottom: 0;
    right: -40px;
}

.buy-btn {
    padding: 8px 26px;
    margin-top: auto;

    color: var(--basic-dark);
    font-family: inherit;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    border-radius: 2px;
    border: none;
    outline: 1px solid var(--basic-dark);
    background: var(--basic-white);

    transition-duration: 0.5s;
}

.buy-btn:not([disabled]):hover,
.buy-btn:not([disabled]):focus {
    cursor: pointer;
    outline: 1px solid var(--basic-orange);
    background-color: var(--basic-orange);
}

.buy-btn:not([disabled]):active{
    box-shadow: inset 0px 1px 2px var(--basic-black);
}

.own-btn {
    outline: 1px solid var(--basic-orange);
    color: var(--basic-orange);
}

/* COFFEE SHOP */

.shop .section-text {
    margin-bottom: 40px;

    letter-spacing: 2px;
    text-align: center;
}

.shop-wrapper {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.shop-title {
    margin: 0;
    margin-bottom: 40px;

    font-family: Forum;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--basic-orange);
}

.shop-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shop-item {
    position: relative;

    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    gap: 59px;

    letter-spacing: 2px;
    text-transform: capitalize;
}

.item-name {
    margin: 0;
}

.item-price {
    margin: 0;

    font-family: Forum;
}

.shop-line {
    width: 100px;
    height: 1px;

    background-color: var(--basic-orange);
}

.desserts .shop-title {
    text-align: end;
}

.desserts .shop-item {
    justify-items: end;
}

/* CONTACT */

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.contact-title {
    margin: 0;
    margin-bottom: 40px;

    font-size: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-title:nth-of-type(2) {
    margin-bottom: 20px;
}

.contact-text {
    margin: 0;
    margin-bottom: 20px;

    letter-spacing: 2px;
    text-transform: capitalize;
}

.contact-text:nth-of-type(3) {
    margin-bottom: 40px;
}

.contact-link {
    color: inherit;
    text-decoration: none;

    cursor: pointer;
    transition-duration: 0.5s;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--basic-orange);
    text-shadow: 0 0 5px rgba(18, 18, 21, 0.20);
}