.ann {
    height: 100px;
    width: 100px;
}

.audio-player {
    position: relative;
    width: 360px;
    max-width: 360px;
    // height: 800px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    border-radius: 30px;
    background-color: $color-basic-bg;
    // background: linear-gradient(169deg, rgba(8, 8, 8, 1) 2.76%, rgba(8, 8, 8, 0) 97.75%), linear-gradient(169deg, rgba(255, 0, 0, 1) 2.76%, rgba(255, 0, 0, 0)) 97.75%;
    box-shadow: -10px 4px 10px 0px rgba(0, 0, 0, 0.77);

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        background: linear-gradient(169deg, rgba(8, 8, 8, 1) 2.76%, rgba(8, 8, 8, 0) 97.75%), linear-gradient(169deg, rgba(255, 0, 0, 1) 2.76%, rgba(255, 0, 0, 0)) 97.75%;
    }

    @media screen and (max-height: 645px) {
        width: 720px;
        max-width: 700px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.audio-player__container {
    width: 280px;
    z-index: 10;
    font-size: 0;

    @media screen and (max-height: 645px) and (max-width: 500px){
        width: 100%;
    }
}

.audio-player__img {
    width: 250px;
    object-fit: cover;

    @media screen and (max-height: 645px) and (max-width: 500px){
        position: absolute;
        width: 100px;
        top: 20px;
        left: 20px;
    }
}

.audio-player__content {
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;

    @media screen and (max-height: 645px) {
        width: unset;
        flex: 1 0 auto;
    }
}

.audio-player__song {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    @media screen and (max-height: 645px) and (max-width: 500px) {
        width: 60%;
        align-self: flex-end;
    }
}

.song__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: $color-basic-light;
    @include font("Bitsumishi", 2rem, 400, 2rem, normal);
    text-align: center;
}

.song__singer {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: $color-basic-font;
    @include font("Bitsumishi", 1.6rem, 400, 1.6rem, normal);
    text-align: center;
}
