.controls {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %transition;
}

.control {
    width: 34px;
    height: 56px;
    @extend %transition;

    &_hidden {
        display: none;
    }
    @include media-hover-start {
        .player-btn:hover & {
            opacity: 0.4;
        }
    }
}

.controls__heart {
    &_usual {
        background: center center no-repeat url("../img/icons/heart.svg");
    }
    &_selected {
        background: center center no-repeat url("../img/icons/heart_black.svg");
    }
}

.controls__previous {
    background: center center no-repeat url("../img/icons/previous.svg");
}

.controls__play {
    &_play {
        background: center center no-repeat url("../img/icons/play.svg");
    }
    &_pause {
        background: center center no-repeat url("../img/icons/stop.svg");
    }
}

.controls__next {
    background: center center no-repeat url("../img/icons/previous.svg");
    transform: rotate(180deg);
}

.controls__volume {
    &_volume {
        background: center center no-repeat url("../img/icons/volume.svg");
    }
    &_mute {
        background: center center no-repeat url("../img/icons/mute.svg");
    }
}