.home {
    width: 90%;
    height: 70px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.32) 0%, rgba(217, 217, 217, 0.00) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__icon {
    width: 37px;
    height: 32px;
    @extend %transition;
    &_home {
        background: center center no-repeat url("../img/icons/home.svg");
    }
    &_search {
        background: center center no-repeat url("../img/icons/search.svg");
    }
    &_favorites {
        background: center center no-repeat url("../img/icons/favorites.svg");
    }
    &_shelf {
        background: center center no-repeat url("../img/icons/book.svg");
    }
    @include media-hover-start {
    .home-btn:hover &,
    .home-btn:focus & {
            opacity: 0.4;
        }
    }
}