.navigation__list {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.navigation__btn {
    @include font("Montserrat", 1.8rem, 700, normal, normal);
    color: $color-basic-white;
    white-space: nowrap;
}