.footer {
    background: $color-basic-dark;
}

.footer__wrapper {
    padding: 20px 20px 0;
    @include media-mobile {
        padding: 20px 10px 0;
    }
}

.footer__content {
    width: 100%;
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-basic-white;
}

.footer__contacts {
    max-width: 229px;
    @include media-mobile {
        width: 55%;
    }
}

.footer__address {
    @include font("Inter", 1.5rem, 400, 2rem, normal);
    margin-bottom: 18px;
    color: $color-basic-white;
    @include media-mobile {
        font-size: 1.4rem;
    }
}

.social-sites {
    display: flex;
    column-gap: 15px;
}

.footer__social-link {
    @include media-hover-start {
        &:hover {
            box-shadow: none;
        }
    }
}

.social-sites__icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    @extend %transition;
    &_twitter {
        background: center no-repeat url("../img/icons/twitter.svg");
        @include media-hover-start {
            &:hover {
                background: center no-repeat url("../img/icons/twitter_orange.svg");
            }
        }
    }
    &_instagram {
        background: center no-repeat url("../img/icons/instagram.svg");
        @include media-hover-start {
            &:hover {
                background: center no-repeat url("../img/icons/instagram_orange.svg");
            }
        }
    }
    &_facebook {
        background: center no-repeat url("../img/icons/facebook.svg");
        @include media-hover-start {
            &:hover {
                background: center no-repeat url("../img/icons/facebook_orange.svg");
            }
        }
    }

}

.footer__work-hours {
    width: 149px;
}

.footer__work-text {
    @include font("Inter", 1.5rem, 400, 2rem, normal);
    color: $color-basic-white;
    text-align: right;
    &:nth-of-type(2) {
        margin-bottom: 10px;
    }
    @include media-mobile {
        font-size: 1.4rem;
    }
}

.footer__rs {
    width: 100%;
    padding: 35px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        padding: 15px 0;
    }
}

.footer__year {
    letter-spacing: 2px;
    color: $color-basic-white;
}

.footer__link {
    letter-spacing: 2px;
    color: $color-basic-white;
    &_rs {
        margin-left: 10px;
        @include media-laptop {
            margin-left: -44px;
        }
        @include media-tablet-additional {
            width: 50%;
            margin: 0;
            text-align: center;
        }
    }
}