.header {
    background-color: $color-basic-dark;
}

.header__wrapper {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__navigation {
    margin-right: 2px;
    @include media-laptop {
        margin-right: 0;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__login {
    position: relative;
    z-index: 10;
    border-radius: 50%;
}

.header__object {
    @include media-mobile {
        width: 20px;
        height: 20px;
    }
}