.header {
    background-color: $color-basic-dark;
}

.header__wrapper {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__navigation {
    margin-right: 2px;
    @include media-laptop {
        margin-right: 0;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__auth {
    position: relative;
}

.header__login {
    position: relative;
    z-index: 10;
    padding: 10px 0;
    border-radius: 50%;
    @include media-hover-start {
        &:hover {
            box-shadow: none;
        }
    }
}

.header__icon {
    width: 28px;
    height: 28px;
    background: center no-repeat url("../img/icons/icon_profile.svg");
    background-size: cover;
    border-radius: 50%;
    @include media-hover-start {
        .header__login:hover & {
            box-shadow: 0 0 10px $color-basic-white;
        }
    }
    .header__login_active & {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font("Inter", 1.5rem, 400, 2rem, normal, uppercase);
        color: $color-basic-primary;
        background: none;
        background-color: $color-basic-white;
    }

    @include media-mobile {
        width: 20px;
        height: 20px;
    }
}

.menu-auth  {
    position: absolute;
    right: 0;
    z-index: 5;
    width: 80px;
    height: 115px;
    padding-top: 5px;
    @include flex-column(10px);
    align-items: center;
    background: $color-basic-white;
    @extend %transition;
    opacity: 0;
    visibility: hidden;
    &_active {
        opacity: 1;
        visibility: visible;
    }
}

.menu-auth__title {
    position: relative;
    margin-bottom: 10px;
    line-height: 20px;
    letter-spacing: normal;
    text-transform: none;
    &_active {
        font-size: 1.2rem;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 5px;
        width: 40px;
        height: 1px;
        background-color: $color-basic-primary;
    }
}

.menu-auth__link {
    @include font("Inter", 1.5rem, 400, 2rem);
    @include media-hover-start {
        &:hover {
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        }
    }
}