.wrapper {
    max-width: $desktop;
    margin: 0 auto;
    padding: 20px 20px 40px;
    @include flex-column;
    align-items: center;

    @include media-tablet {
        padding: 40px 20px;
    }
}