*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: $color-basic-white;
    color: $color-basic-black;
}

.no-scroll {
    overflow: hidden;
}

h1 {
    @include font("Forum", 3rem, 400, 5rem, 0.06rem);
    color: $color-basic-white;
    @include media-mobile {
        font-size: 1.4rem;
    }
}

h2 {
    @include font("Forum", 4rem, 400, 4rem, 0.2rem, capitalize);
    color: $color-basic-dark;
    @include section-title;
    @include media-mobile {
        font-size: 2.6rem;
    }
}

h3 {
    @include font("Inter", 2rem, 700, normal);
    color: $color-basic-black;
}

h4 {
    @include font("Forum", 4rem, 400, 4rem, 0.2rem, capitalize);
    color: $color-basic-primary;
    @include media-mobile {
        font-size: 2.6rem;
    }
}

h5 {
    @include font("Inter", 1.5rem, 700, 4rem, 0.2rem, uppercase);
    color: $color-basic-black;

}

strong {
    @include font("Inter", 3rem, 400, normal, 0.06rem);
    color: $color-basic-black;
    @include media-mobile {
        font-size: 2rem;
    }
}

p {
    @include font("Inter", 2rem, 400, 4rem);
    color: $color-basic-black;
}

img {
    height: auto;
}