.btn {
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font("Inter", 1rem, 700, normal, 0.1rem);
    color: $color-basic-dark;

    border-radius: 2px;
    border: 1px solid var(--basic-dark);
    @extend %transition;

    &:not([disabled]):hover,
    &:not([disabled]):focus{
        border: 1px solid $color-basic-primary;
        background-color: $color-basic-primary;
    }

    &:not([disabled]):active {
        box-shadow: inset 0px 1px 2px var(--basic-black);
    }

    &_own {
        border: 1px solid $color-basic-primary;
        color: $color-basic-primary;

        cursor: auto;
    }

    &_large {
        width: 242px;
        height: 44px;
        font-size: 20px;
    }
}