.link {
    display: flex;
    @include font("Inter", 2rem, 400, 2rem, 0.2rem);
    color: $color-basic-black;
    @extend %transition;
    @include media-hover-start {
        &:hover,
        &:focus {
            color: $color-basic-primary;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
        }
    }
    &:active {
        text-decoration: underline;
    }
    @include media-mobile {
        font-size: 1.4rem;
    }
}

.link-icon {
    display: flex;
    @extend %transition;
}