@include font-face(Bitsumishi, BITSUMIS, 400, normal);

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(12.5px);
    color: $color-basic-font;
}

.container {
    height: 100vh;
}

h1 {
    @include font("Bitsumishi", 3rem, 400, 3rem, 0.06rem);
    color: $color-basic-white;
}

p {
    @include font("Bitsumishi", 1.8rem, 400, 2rem, normal);
    color: $color-basic-white;
    @include media-mobile {
        font-size: 1.6rem;
    }
}

img {
    height: auto;
}