.cards__container {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    @include media-desktop-additional {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 22px;
    }
}

.find-card {
    width: 600px;
    @include flex-column(30px);
}

.find-card__title {
    text-align: center;
}

.book-card {
    padding: 17px 17px 27px;

    @include flex-column(20px);

    border: 3px solid $color-basic-primary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.book-card__wrapper {
    padding: 20px 20px 25px;
    @include flex-column(20px);
    background: $color-basic-primary;
}

.book-card__title {
    font-family: "Forum";
    line-height: 5rem;
}

.book-card__fields {
    @include flex-column(25px);
}

.book-card__button {
    margin: 0 auto;
}

.get-card {
    width: 600px;
    @include flex-column(35px);
    align-items: flex-end;
    @include media-desktop-additional {
        align-items: center;
        row-gap: 40px;
    }
}

.get-card__title {
    font-family: Forum;
}

.get-card__text {
    width: 76%;
    text-align: right;
    letter-spacing: 0.04rem;
    @include media-desktop-additional {
        width: 100%;
        text-align: center;
    }
}

.get-card__buttons {
    display: flex;
    column-gap: 20px;
}