.favorites__container {
    @include flex-column(35px);
}

.favorites__books {
    padding-right: 40px;
    @include media-mobile {
        padding-right: 0;
    }
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    @include media-desktop-additional {
        justify-content: center;
        column-gap: 65px;
    }
}

.books__item {
    position: relative;

    max-width: 550px;
    width: 100%;
    height: 555px;
    padding: 14px 19px;

    @include flex-column;
    align-items: flex-start;
    flex-shrink: 0;

    border: 1px solid $color-basic-black;
    @include media-tablet-additional {
        height: fit-content;
    }
}

.books__description {
    @include flex-column(20px);
    max-width: 357px;
    width: 70%;
    @include media-tablet-additional {
        width: 61%;
        margin-bottom: 20px;
    }
    @include media-mobile{
        width: 100%;
    }
}

.books__category {
    position: relative;
    @include font("Forum", 2rem, 400, 4rem, 0.2rem, capitalize);
    color: $color-basic-black;

    &::before {
        content: "";
        position: absolute;
        top: 39px;
        width: 60px;
        height: 1px;
        background-color: $color-basic-primary;
    }
}

.books__author {
    text-transform: capitalize;
}

.books__short {
    @include font("Inter", 1.5rem, 400, 4rem, 0.2rem, capitalize);
    @include media-tablet-additional {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.books__img {
    position: absolute;
    bottom: -1px;
    right: -41px;
    @media screen and (max-width: 767px) {
        // right: -51px;
    }
    @include media-tablet-additional {
        // width: 75%;
    }
    @include media-mobile {
        position: unset;
        margin-bottom: 20px;
        width: 150px;

        align-self: center;
    }
}

.books__button {
    margin-top: auto;
    @include media-mobile {
        align-self: center;
    }
}