.filters__list {
    display: flex;
    column-gap: 90px;
}

.filters__item {
    position: relative;
    padding-left: 32px;
    &:nth-of-type(1) {
        width: 104px;
    }
    &:nth-of-type(2) {
        width: 99px;
    }
    &:nth-of-type(3) {
        width: 116px;
    }
    &:nth-of-type(4) {
        width: 116px;
    }
}

.filter__label {
    padding: 5px;
    line-height: normal;
}