.profile {
    position: relative;
    z-index: 30;
    width: 600px;
    display: flex;
    background: $color-basic-white;
}

.profile p {
    @include font("Inter", 2rem, 400, 2rem);
}

.profile__avatar {
    width: 28.3%;
    max-width: 170px;
    @include flex-column(15px);
    justify-content: center;
    align-items: center;
    background-color: $color-basic-dark;
}

.profile__name {
    background-color: $color-basic-white;
    &_short {
        width: 80px;
        height: 80px;
        color: $color-basic-primary;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_long {
        padding: 5px 15px;
    }
}

.profile__content {
    padding: 40px 20px;
    @include flex-column(20px);
}

.profile__title {
    margin-bottom: 20px;
    line-height: 2rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    &::after {
        display: none;
    }
}

.profile-info {
    display: flex;
    column-gap: 20px;
}

.profile-info__item {
    @include flex-column(10px);
    align-items: center;
}

.profile-info__title {
    @include font("Inter", 2rem, 400, 2rem, 0.04rem, capitalize);
}

.profile-info__number {
    @include font("Inter", 1rem, 400, 2rem, 0.02rem, capitalize);
}

.profile-books {
    margin-bottom: 20px;
}

.profile-books__title {
    @include font("Inter", 2.5rem, 400, 2rem, normal);
    color: $color-basic-dark;
    margin-bottom: 30px;
}

.profile-books__list {
    max-height: 50px;
    list-style-type: disc;
    @include flex-column(10px);
    margin-left: 30px;
    overflow: scroll;
}

.profile-books__item {
    @include font("Inter", 2rem, 400, 2rem, 0.2rem, capitalize);
}

.profile-card {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.profile-card__number {
    color: $color-basic-primary;
}

.profile-card__icon {
    width: 14px;
    height: 12px;
    background: center no-repeat url("../img/icons/icon_copy.svg");
}