.profile {
    position: relative;
    z-index: 30;
    width: 600px;
    display: flex;
    background: $color-basic-white;
    @include media-mobile {
        flex-wrap: wrap;
    }
}

.profile__avatar {
    width: 170px;
    @include flex-column(15px);
    justify-content: center;
    align-items: center;
    background-color: $color-basic-dark;
    @include media-mobile {
        max-width: unset;
        width: 100%;
        padding: 20px 0;
    }
}

.profile__name {
    background-color: $color-basic-white;
    &_short {
        width: 80px;
        height: 80px;
        color: $color-basic-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-mobile {
            display: none;
        }
    }
    &_long {
        max-width: 80%;
        padding: 5px 15px;
        text-align: center;
        word-break: break-all;
        @include media-mobile {
            font-size: 2rem;
        }
    }
}

.profile__content {
    padding: 40px 20px;
    @include flex-column(20px);
    width: 430px;
}

.profile__title {
    margin-bottom: 20px;
    line-height: 2rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    &::after {
        display: none;
    }
}

.profile-info {
    display: flex;
    column-gap: 20px;
}

.profile-info__item {
    @include flex-column(10px);
    align-items: center;
}

.profile-info__title {
    letter-spacing: 0.04rem;
    text-transform: capitalize;
}

.profile-info__number {
    @include font("Inter", 1rem, 400, 2rem, 0.02rem, capitalize);
}

.profile-books {
    margin-bottom: 15px;
}

.profile-books__title {
    @include font("Inter", 2.5rem, 400, 2rem, normal);
    color: $color-basic-dark;
    margin-bottom: 30px;
}

.profile-books__list {
    width: 100%;
    height: 55px;
    @include flex-column(10px);
    padding-left: 12px;
    overflow-x: auto;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(41, 41, 41, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $color-basic-neutral;
    }
}

.profile-books__item {
    position: relative;
    padding-left: 18px;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    white-space: nowrap;
    &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-basic-black;
    }
}

.profile-card {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.profile-card__number {
    color: $color-basic-primary;
}

.profile-card__input {
    max-width: 150px;
    width: fit-content;
    border: none;
    color: $color-basic-primary;
}

.profile-card__copy {
    width: 14px;
    height: 12px;
    background: center no-repeat url("../img/icons/icon_copy.svg");
}

.modal__close-icon {
    .profile & {
        @include media-mobile {
            background: center no-repeat url("../img/icons/close_btn_white.svg");
        }
    }
}