.shop__text {
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-align: center;
    @include media-laptop {
        letter-spacing: 1.99px;
    }
}

.shop__menu {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    @include media-laptop {
        flex-wrap: wrap;
        column-gap: 90px;
        row-gap: 40px;
    }
}

.catalog {
    @include flex-column(40px);
    @include media-laptop {
        &_desserts {
            margin-left: auto;
        }
    }
}

.catalog__title {
    &_desserts {
        text-align: end;
    }
}

.catalog__list {
    @include flex-column(40px);
    @include media-mobile {
        row-gap: 20px;
    }
}

.catalog__item {
    position: relative;

    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    gap: 59px;
    .catalog_desserts & {
        justify-items: end;
        @include media-mobile {
            justify-items: flex-start;
        }
    }
    @include media-mobile {
        gap: 10px;
    }
}

.catalog__name {
    letter-spacing: 2px;
    text-transform: capitalize;
}

.catalog__price {
    font-family: Forum;
    letter-spacing: 2px;
}

.catalog__line {
    width: 100px;
    height: 1px;
    background-color: $color-basic-primary;
}