.slider {
    width: 100%;
}

.slider__container {
    overflow: hidden;
    margin-bottom: 35px;
    @include media-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 48px;
        margin-bottom: 20px;
    }
}

.slider__images {
    display: flex;
    column-gap: 25px;
    @include media-laptop {
        column-gap: 8.5%;
    }
    @include media-tablet {
        width: 61.85%;
        column-gap: 32%;
    }
}

.slider__img {
    max-width: 450px;
    width: 33%;
    aspect-ratio: 450 / 560;
    @include media-laptop {
        width: 46%;
    }
    @include media-tablet {
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.pgn__button {
    @extend %transition;
    width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-of-type(2) {
        display: none;
        @include media-laptop {
            display: flex;
        }
    }
    &:nth-of-type(5) {
        display: none;
        @include media-tablet{
            display: flex;
        }
    }
    &:disabled {
        cursor: auto;
    }
}

.pgn__inner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-basic-dark;
    @extend %transition;
    .pgn__button_active & {
        background-color: $color-basic-primary;
    }
    @include media-hover-start {
        .pgn__button:not([disabled]):hover &,
        .pgn__button:not([disabled]):focus & {
            background-color: $color-basic-neutral;
        }
    }
}

.slider-btn {
    display: none;
    padding: 10px;
    margin-top: 40px;

    border-radius: 50%;
    @extend %transition;
    @include media-tablet {
        display: block;
    }
}