.slider {
    width: 100%;
}

.slider__container {
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    @include media-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    @include media-tablet-additional {
        column-gap: 30px;
    }
    @include media-mobile {
        column-gap: 10px;
    }
}

.slider__images {
    display: flex;
    column-gap: 25px;
    @include media-laptop {
        column-gap: 8.5%;
    }
    @include media-tablet {
        width: 61.9%;
        column-gap: 38.1%;
    }
    @include media-tablet-additional {
        width: 70%;
        column-gap: 30%;
    }
    @include media-mobile {
        width: 75%;
        column-gap: 25%;
    }
}

.slider__img {
    max-width: 450px;
    width: 33%;
    aspect-ratio: 450 / 560;
    @include media-laptop {
        width: 46%;
    }
    @include media-tablet {
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.pgn__button {
    @extend %transition;
    width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-of-type(2) {
        display: none;
        @include media-laptop {
            display: flex;
        }
    }
    &:nth-of-type(5) {
        display: none;
        @include media-tablet{
            display: flex;
        }
    }
    &:disabled {
        cursor: auto;
    }
}

.pgn__inner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-basic-dark;
    @extend %transition;
    .pgn__button_active & {
        background-color: $color-basic-primary;
    }
    @include media-hover-start {
        .pgn__button:not([disabled]):hover &,
        .pgn__button:not([disabled]):focus & {
            background-color: $color-basic-neutral;
        }
    }
}

.slider__btn {
    position: absolute;
    top: 50%;
    display: none;
    padding: 10px;

    border-radius: 50%;
    font-size: 0;
    @extend %transition;
    &_left {
        left: 6.5%;
    }
    &_right {
        right: 6.5%;
    }
    @include media-tablet {
        display: block;
    }
    @include media-tablet-additional {
        &_left {
            left: 3%;
        }
        &_right {
            right: 3%;
        }
    }
    @include media-mobile {
        top: 45%;
        &_left {
            left: -2%;
        }
        &_right {
            right: -2%;
        }
    }

}