.welcome {
    position: relative;
    background-color: $color-basic-dark;
    background-image: url("../img/welcome_desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    @include media-tablet {
        background-image: url("../img/welcome_tablet.jpg");
    }
}

.welcome__wrapper {
    position: relative;
    padding: 220px 0 160px;
    flex-direction: row;
    @include media-mobile {
        padding: 110px 0 80px;
    }
}

.welcome__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, $color-basic-dark 0%, $color-basic-dark 0.01%, rgba(18, 18, 21, 0.10) 100%);
    @include media-mobile {
        height: 200px;
    }
}

.welcome__content {
    @include flex-column;
    align-items: center;

    width: 600px;
    height: 220px;
    padding: 35px 40px;

    background: $color-basic-dark;
    @include media-tablet-additional {
        width: 100%;
    }
    @include media-mobile {
        height: fit-content;
    }
}

.welcome__title {
    @include font("Forum", 4rem, 400, 5rem, 0.3rem, uppercase);
    color: $color-basic-white;
    @include media-mobile {
        font-size: 2rem;
    }
}